.notification-management {
    padding: 50px 20px;
    text-align: center;
}

.notification-management h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #07373f; /* Color principal */
}

.notification-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar los elementos */
}

.notification-form textarea {
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo */
    height: 150px; /* Altura del área de texto */
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc; /* Borde ligero */
    margin-bottom: 15px; /* Espaciado inferior */
    font-size: 16px;
}

.notification-form input {
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo */
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc; /* Borde ligero */
    margin-bottom: 15px; /* Espaciado inferior */
    font-size: 16px;
}

.notification-form button {
    padding: 12px 20px; /* Tamaño del botón */
    background-color: #07767c; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.notification-form button:hover {
    background-color: #055057; /* Color al pasar el cursor */
}
