/* Estilos de la sección principal */
.card-section {
    display: flex;
    justify-content: space-evenly; /* Espaciado uniforme */
    align-items: center;
    padding: 80px 20px;
    background: linear-gradient(to left, #d0f0e5, #e6f7f1, #ffffff);
    border: 1px solid linear-gradient(to left,#d0f0e5, #e6f7f1, #ffffff);
}

/* Estilos de las tarjetas */
.card {
    background: white;
    width: 350px; /* Tamaño de tarjeta */
    height: auto;
    margin: 20px;
    padding: 30px 20px; 
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 15px; /* Bordes más redondeados */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones más suaves */
}

/* Efecto hover para las tarjetas */
.card:hover {
    transform: translateY(-10px); /* Desplazamiento suave */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Sombra más grande al hacer hover */
}

/* Estilo de los títulos */
.card h2 {
    font-size: 28px; /* Tamaño más grande */
    margin-bottom: 20px;
    color: #07767c; /* Color verde agua */
    font-family: 'Poppins', sans-serif; /* Fuente moderna */
    border-bottom: 1px solid #07767c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Estilo de los párrafos */
.card p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #333; /* Color gris para contraste */
    font-family: 'Open Sans', sans-serif;
}

/* Botones dentro de las tarjetas */
.card button {
    background-color: #07767c; /* Verde agua principal */
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 12px 25px; /* Más grandes */
    border-radius: 50px; /* Botones redondeados */
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra en los botones */
}

/* Efecto hover para los botones */
.card button:hover {
    background-color: #065357; /* Verde agua más oscuro */
    transform: scale(1.05); /* Efecto de ampliación */
}

/* Estilo responsive para dispositivos móviles */
@media (max-width: 768px) {
    .card-section {
        flex-direction: column; /* Disposición en columna */
        padding: 50px 20px;
        margin-top: 70px;
    }

    .card {
        width: 90%; /* Tarjetas ocupan casi todo el ancho */
        margin: 20px 0;
    }
}
