/* Primera sección de información */
.como-funciona-container {
    width: 100%;
    padding: 40px;
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.como-funciona-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.como-funciona-cards-container {
    display: flex;
    justify-content: center; /* Centra las cards */
    gap: 40px; /* Reduce el espacio entre las cards */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

.como-funciona-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 240px; /* Reduce un poco el ancho de cada card para que se ajusten mejor */
    text-align: center;
    transition: transform 0.3s;
}

.como-funciona-card:hover {
    transform: translateY(-5px);
}

.como-funciona-icon {
    font-size: 40px;
    color: #00bfa5;
    margin-bottom: 10px;
}

.como-funciona-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.como-funciona-card-description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* Segunda sección de información */
.comunidad-container {
    width: 100%;
    padding: 40px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.comunidad-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.comunidad-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.comunidad-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.comunidad-card:hover {
    transform: translateY(-5px);
}

.comunidad-icon {
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
}

.comunidad-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.comunidad-card-description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

/* Tercera sección de información */
.busquidy-container {
    width: 100%;
    background-color: #e6f7f1;
    padding: 40px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenido */
}

.busquidy-header {
    margin-bottom: 20px;
    text-align: center; /* Centra el título */
}

.busquidy-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.highlight {
    color: #00FF00;
}

.busquidy-header i {
    color: #00FF00;
    font-size: 38px;
}

.busquidy-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas más pequeñas */
}

.busquidy-features, .busquidy-image-section {
    flex: 1;
    min-width: 300px; /* Ancho mínimo para adaptarse a diferentes tamaños de pantalla */
    max-width: 400px; /* Ancho máximo para mantener una buena proporción */
}

.feature {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.feature-icon {
    color: #00bfa5;
    margin-right: 10px;
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.feature-description {
    margin: 5px 0 0 0;
    color: #555;
}

.busquidy-image-section {
    position: relative;
}

.busquidy-image {
    width: 100%;
    border-radius: 10px;
}

.project-status {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.busquidy-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.busquidy-button:hover {
    background-color: #555;
}
