/* src/components/ProfileCircle.css */
.profile-circle {
    width: 40px; /* Ajusta el tamaño según necesites */
    height: 40px;
    border-radius: 50%; /* Círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  