.background-perfil-empresa {
    background-color: #f7f7f7;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.background-perfil-empresa:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.empresa-perfil-content {
    text-align: center;
    border-radius: 20px;
    margin-top: 200px;
    margin-bottom: 250px;
}

.empresa-perfil-btn {
    background-color: #07767c;
    color: white;
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.empresa-perfil-btn:hover {
    background-color: #033a40;
}
