html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.main-content {
    flex: 1;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
